
fastapi==0.121.2
uvicorn==0.38.0
python-multipart==0.0.20
pydantic==2.12.4

torch==2.2.2
torchvision==0.17.2
numpy==1.26.4
pillow==10.2.0
opencv-python==4.11.0.86
pandas==2.3.3
scikit-learn==1.7.2

transformers==4.41.2
textattack==0.3.10
